[Unit]
Description=SmartMeter Readout Tool

[Service]
WorkingDirectory=/home/pi/readout
ExecStart=pypy3 SmartMeterReadout.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=mult-user.target
