[Unit]
Description=SmartMeter Readout Tool

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/readout
ExecStart=/usr/bin/pypy3 SmartMeterReadout.py
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
